body{
    overflow: hidden;
}
section{
    width: 100%;
    height: 100%;
    position: absolute;
}
.bubble{
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    box-shadow: inset 0 0 5px #ffffff99;
}
.bubble::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
}