@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.activeItem{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
  }
  .activeItem::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 10px;
    border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
    background: white;
    bottom: 0;
    transition: all .3s ease;
  
  }
  .glass{
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.activeCard{
  filter: blur(0);
  opacity: 1;
}

.trasnition-500{
  transition: all .5s ease;
}